<!-- personal information -->
<div class="row">
  <div class="col-md-12">
    <h4>Personal Information</h4>
    <hr>
  </div>
</div>
<!-- Name -->
<fieldset [formGroup]='userForm'>
  <div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="name" [class.invalid]="userName.invalid && (userName.dirty || userName.touched)">Name
            <span *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="invalid">
                is required.
            </span></label>
          <input type="text" name="name" class="form-control" placeholder="Name" formControlName='userName'>
        </div>
            
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="midname" [class.invalid]="middleName.invalid && (middleName.dirty || middleName.touched)">Middle Name
            <span *ngIf="middleName.invalid && (middleName.dirty || middleName.touched)" class="invalid">
                is required.
            </span></label>
          <input type="text" name="midname" class="form-control" placeholder="Middle name" formControlName='middleName'>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="lastname" [class.invalid]="lastName.invalid && (lastName.dirty || lastName.touched)">Last Name
            <span *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="invalid">
                is required.
            </span></label>
          <input type="text" name="lastname" class="form-control" placeholder="Last name" formControlName='lastName'>
        </div>
      </div>
    </div>
    <!-- email -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="email" [class.invalid]="email.invalid && (email.dirty || email.touched)">Email
            <span *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid">
              <span *ngIf="email.errors.required">
                is required.
              </span>
              <span *ngIf="email.errors.pattern">
                is not valid.
              </span>
            </span></label>
          <input type="email" name="email" class="form-control" placeholder="Email" formControlName='email'>
        </div>
      </div>
      <!-- birthdate -->
      <div class="col-md-6">
        <label for="dp" [class.invalid]="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)">Birth Date
          <span *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)" class="invalid">
          is required.
        </span>
        </label>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp"  ngbDatepicker #d="ngbDatepicker" formControlName='dateOfBirth'>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                    <img src="../../../assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                  </button>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <!-- Location information -->
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="country" [class.invalid]="country.invalid && (country.dirty || country.touched)">Country
            <span *ngIf="country.invalid && (country.dirty || country.touched)" class="invalid">
              is required.
            </span>
          </label>
          <input type="text" name="country" class="form-control" placeholder="Country" formControlName='country'>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="city" [class.invalid]="city.invalid && (city.dirty || city.touched)">City
            <span *ngIf="city.invalid && (city.dirty || city.touched)" class="invalid">
              is required.
            </span>
          </label>
          <input type="text" name="city" class="form-control" placeholder="City" formControlName='city'>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="address" [class.invalid]="address.invalid && (address.dirty || address.touched)">Address
            <span *ngIf="address.invalid && (address.dirty || address.touched)" class="invalid">
              is required.
            </span>
          </label>
          <input type="text" name="address" class="form-control" placeholder="Address" formControlName='address'>
        </div>
      </div>
    </div>
    <!-- Phone Number -->
    <div class="row">
      <div class="col-md-6">
        <label [class.invalid]="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">Phone Number
          <span *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="invalid">
            is required.
          </span>
        </label>
        <input type="text" class="form-control" placeholder="Number" formControlName='phoneNumber'>
      </div>
    </div>
  </div>
</fieldset>