<div class="container">
  <form [formGroup]='cvForm' (ngSubmit)="onSubmit()">
    <app-user-info (formReady)="formInitialized('userInfo', $event)"></app-user-info>
    <app-work-info (formReady)="formInitialized('workExperiences', $event)"></app-work-info>
    <app-education-info (formReady)=" formInitialized('educations', $event) "></app-education-info>
    <app-languages (formReady)=" formInitialized('languages', $event) "></app-languages>
    <app-skills (formReady)=" formInitialized('skills', $event) "></app-skills>
    <button class="btn btn-default" type="submit" [disabled]="!cvForm.valid">submit</button>
  </form>
</div>

<h2 class='mat-h2'>Form Value</h2>
<pre>{{cvForm.value | json}}</pre>