
<div class="container">
  <form [formGroup]="cvForm" (ngSubmit)="onSubmit()">
    <!-- personal information -->
    <div class="row">
      <div class="col-md-12">
        <h4>Personal Information</h4>
        <hr>
      </div>
    </div>
    <!-- Name -->
    <div class="row" formGroupName="fullname">
    <div class="col-md-4">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" placeholder="Name"
        formControlName="name">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="midname">Middle Name</label>
        <input type="text" name="midname" class="form-control" placeholder="Middle name"
         formControlName="midname">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" class="form-control" placeholder="Last name"
         formControlName="lastname">
      </div>
    </div>
    </div>
    <!-- email -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" placeholder="Email"
           formControlName="mail">
        </div>
      </div>
      <!-- birthdate -->
      <div class="col-md-6">
        <label>Birth Date</label>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <input type="number" name="birthdate" class="form-control" min="1" max="31" placeholder="Date">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <select class="form-control" name="birthmonth">
                <option value="">Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="number" class="form-control" name="birthyear"  placeholder="Year" >
            </div>
          </div>
      </div>
      </div> 
    </div>
      <!-- Contact information -->
      <div class="row" formGroupName="location">
        <div class="col-md-3">
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" name="country" class="form-control" placeholder="Country"
            formControlName="country">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" name="city" class="form-control" placeholder="City"
             formControlName="city">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" name="address" class="form-control" placeholder="Address"
             formControlName="address">
          </div>
        </div>
      </div>
      <!-- Phone Number -->
      <div class="row">
        <div class="col-md-6">
          <label>Phone Number</label>
          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="(xxx)">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="xxx">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="xxxxxx">
            </div>
          </div>
        </div>
      </div>
      <!-- Work experience -->
      <div class="row mt-4">
        <div class="col-md-10">
          <h4>Work experience</h4>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-success" (click)="addMoreWorkplace()">Add More</button>
        </div>
      </div>
      <hr>
      <!-- Organization name working period -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="organization">Organization Name</label>
            <input type="text" name="organization" class="form-control" placeholder="Organization">
          </div>
        </div> 
        <div class="col-md-3">
          <label for="fromyear">From</label>
          <div class="row">
            <div class="col-md-6">
                <select class="form-control" name="frommonth">
                  <option value="">Month</option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
            </div>
            <div class="col-md-6">
                <input type="number" name="fromyear" class="form-control" placeholder="Year">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label for="fromyear">To</label>
          <div class="row">
            <div class="col-md-6">
                <select class="form-control" name="tomonth">
                  <option value="">Month</option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
            </div>
            <div class="col-md-6">
                <input type="number" name="toyear" class="form-control" placeholder="Year">
            </div>
          </div>
        </div>
      </div>
      <!-- Job title and discription -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="jobtitle">Job Title</label>
            <input type="text" name="jobtitle" class="form-control" placeholder="Job title">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="department">Organization Department</label>
            <input type="text" name="department" class="form-control" placeholder="Department">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <div class="form-group">
            <label for="jobdescription">Job Description</label>
            <textarea type="text" name="jobdescription" class="form-control" rows="6"></textarea>
          </div>
        </div>
      </div>
      <!-- Education -->
        <div class="row mt-4">
          <div class="col-md-12">
            <h4>Education</h4>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="school">School</label>
              <input type="text" name="school" class="form-control" placeholder="School">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="startyear">Start</label>
              <input type="number" name="startyear" class="form-control" placeholder="Year">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="endyear">End</label>
              <input type="number" name="endyear" class="form-control" placeholder="Year">
            </div>
          </div>  
        </div>
        <!-- Study area and discription -->
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="studyarea">Study Area</label>
              <input type="text" name="studyarea" class="form-control" placeholder="Study area">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="degree">Degree</label>
              <input type="text" name="degree" class="form-control" placeholder="Degree">
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <label for="studydesc">Study Area Description</label>
              <textarea type="text" name="studydesc" class="form-control" rows="6"></textarea>
            </div>
          </div>
        </div>
        <!-- languages -->
        <div class="row mt-4">
          <div class="col-md-12">
            <h4>Languages</h4>
            <hr>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <label>Languages</label>
            <div class="row">
              <div class="col-md-12">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="language" id="lang1" value="1">
                  <label class="form-check-label" for="lang1">1</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="language" id="lang2" value="2">
                  <label class="form-check-label" for="lang2">2</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="language" id="lang3" value="3">
                  <label class="form-check-label" for="lang3">3</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="language" id="lang4" value="4">
                  <label class="form-check-label" for="lang4">4</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="language" id="lang5" value="5">
                  <label class="form-check-label" for="lang5">5</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- skills -->
        <div class="row mt-4">
          <div class="col-md-12">
            <h4>Skills</h4>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
          <div class="form-group">
            <label for="skills">Add Your Skills</label>
            <input type="text" name="skill" id="skills" class="form-control" placeholder="Skill">
          </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary float-md-right">Submit</button>
          </div>
        </div>

    </form>
</div>
