.container {
    max-width: 1024px;
    padding: 30px;
    margin: 40px auto;
}
i.horizontal.icon {
    margin: auto;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

